/** NEW ONES **/

.up1 {
  margin-top: -0.5em;
}
.up2 {
  margin-top: -0.6em !important;
}
.twoX {
  font-size: 1.3em;
}
.pr-03 {
  padding-right: 0.3em;
}

.home > li:hover {
  margin-top: 0em;
  margin-bottom: 1.5em;
}


/**/

.home {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap | wrap | wrap-reverse; */
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.home > li {
  padding: 1em;
  margin: 1em;
  list-style: none;
  transition: margin-top 1s, margin-bottom 1s;
}

.home > li:hover {
  margin-top: 0em;
  margin-bottom: -2em;
}

body {
  /* background-image: linear-gradient(
    to bottom right,
    rgba(255, 0, 0, 0.151),
    rgba(255, 255, 0, 0.137)
  ); */
  min-height: 100vh;

  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .home > li {
    padding: 1em;
  }
}




/** GARDEN CSS **/

/** Position css **/

.shadow-green {
  text-shadow: 2px 2px rrgb(0, 148, 5);
}
.shadow-red {
  text-shadow: 2px 2px rgb(211, 0, 0);
}
.shadow-yellow {
  text-shadow: 2px 2px rgb(177, 177, 0);
}

.shadow:hover {
  border-bottom: #ff4da67c dotted 0.4em;
  transition: 0.5s;
}



.aife {
  align-items: flex-end !important;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.center {
  display: flex;
  justify-content: center !important;
}

.pr-05 {
  padding-right: 0.5em;
}

.pr-1 {
  padding-right: 1em;
}

.pr-035 {
  padding-right: 3.5em;
}
.pr-5 {
  padding-right: 5em;
}

.pl-050 {
  padding-left: 0.5em;
}
.pl-1 {
  padding-left: 1em;
}

.w-100 {
  width: 100% !important;
}

.fdc {
  flex-direction: column;
}

/* //space right */
.sl {
  padding-left: 0.5em !important;
}

.pc_info {
  padding-left: 2em;
}

.w90 {
  width: 90%;
}
.w80 {
  width: 80%;
}
.w70 {
  width: 70%;
}

.w30 {
  width: 30%;
}
.w20 {
  width: 20%;
}

.w15 {
  width: 20%;
}

.w10 {
  width: 10%;
}

.w100px {
  width: 100px !important;
}

/** Colors CSS **/

.cgray {
  color: rgba(160, 160, 160, 1) !important;
}

.white-soft {
  color: rgba(255, 255, 255, 0.712);
}

.pink {
  background-color: #f3969b9f !important;
}

.hot-pink {
  color: hotpink;
}

.blue {
  background-color: lightblue !important;
}

.yellow {
  background-color: rgba(255, 255, 0, 0.548);
}

/** Elements css **/

/* .bi {
  color: pink !important;
} */




.drop_position {
  margin: 1em;
  display: flex;
  justify-content: center;
  border: rgba(255, 255, 255, 0.4) 1px dashed;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: hotpink;
  font-size: 1.8em;
  padding-left: 1.5em;
}

input,
select {
  text-align: center;
}
nav {
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}
.nav-link {
  padding: 0.5em 0.8em !important;
}

.nav-link:hover {
  margin-top: -0.4em;
  transition: margin-top 1s;
  text-shadow: 2px 2px 0.5em #f2b04f;
}

.btn-link {
  text-decoration: none !important;
  padding-top: 1em !important;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-column > div {
  padding: 3em !important;
}

.tik {
  display: flex;
}

.plant_box {
  display: flex;
  justify-content: space-around;
  border-radius: 2em;
  width: 100%;
}

.table_img {
  width: 100px;
}

.frame {
  padding: 0em 2em !important;
}

.total {
  display: flex;
  justify-content: space-between;
}

.card-body:hover,
.plant_box:hover,
.pig > li:hover {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.square {
  background-color: #50372c !important;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  border-radius: 0.5em;
  width: 90%;
  height: 100%;
}

.circle {
  background-color: #50372c !important;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  border-radius: 0.5em;
  width: 90%;
  height: 90%;
}

.buy_paper {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
}

.dragInGarden {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dragInGarden > img {
  width: 90px;
}

.plantInBuy {
  width: 70px;
}

.left_column {
  display: flex;
  flex-direction: column;
  padding-left: 0px !important;
}
.right_column {
  padding-right: 0px !important;
}

img {
  width: 100px;
}

.legend-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.home-container,
.left-droppable-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}
.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #00000063;
}

.left-droppable-cont {
  width: 100%;
}

.h-plant-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  width: 100% !important;
}

.hoverable-button:hover + .display-on-hover {
  display: block;
  transition: 0.7s;
}
.display-on-hover {
  display: none;
}

.glow {
  font-size: 1.3em;
  color: #fff;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
  transition: 0.5s;
  padding: 1em;
}

.center_column {
  width: 300px;
  height: 900px;
}

/* @-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */

.shadow {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.5s;
}

.card,
.plant_box,
.pig,
input,
select,
button {
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4); */
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.05);
}
